Repository DIRACGrid/WebAppDIRAC, pull requests merged in 2022-02, with the labels that each got.

#622 [v4r3] fix: encoding before hashing (py3)
  src/WebAppDIRAC/WebApp/handler/AccountingHandler.py
  src/WebAppDIRAC/WebApp/handler/FileCatalogHandler.py
  src/WebAppDIRAC/WebApp/handler/MonitoringHandler.py
Labels: alsoTargeting:integration

#625 [sweep:integration] fix: encoding before hashing (py3)
  src/WebAppDIRAC/Lib/WebHandler.py
  src/WebAppDIRAC/WebApp/handler/FileCatalogHandler.py
  src/WebAppDIRAC/WebApp/handler/MonitoringHandler.py
Labels: sweep:from rel-v4r3

#626 [4.3.11] release notes
  release.notes
  src/WebAppDIRAC/__init__.py
Labels: alsoTargeting:integration

#632 [5.0] continue #610, fix bugs, docs
  src/WebAppDIRAC/WebApp/handler/ResourceSummaryHandler.py
  src/WebAppDIRAC/WebApp/handler/SiteSummaryHandler.py
Labels: bug
